<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.spellCheck.SpellCheckMapper" >

    <select id="getKyeWord"  parameterType="String" resultType="com.jk.entity.spellCheck.SpellCheck">
        SELECT * FROM spell_check /*where wordName like '%${value}%'*/
        <where>
            <if test="value != null and value!=''">
             and wordName LIKE '%${value}%'
            </if>
        </where>
    </select>
</mapper>
