<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- cxf的核心配置  -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!--
        id：bean唯一标识
        serviceClass：生成的本地接口
        address：webservice服务端发布的路径
    -->
    <jaxws:client
            id="bookService"
            serviceClass="com.jk.ws.WSBookService"
            address="http://localhost/webservice/WSBookServiceImpl?wsdl">
        <!-- 添加输出拦截器 -->
        <jaxws:outInterceptors>
            <bean class="com.jk.ws.AuthInterceptor">
                <constructor-arg name="userId" value="jnan" />
                <constructor-arg name="userPass" value="root" />
            </bean>
            <!-- 输出日志拦截器 -->
            <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
        </jaxws:outInterceptors>
    </jaxws:client>


</beans>